@import "tailwindcss";

@tailwind utilities;

:root {
  --primary: #2563eb;
  --accent: #22d3ee;
  --bg-dark: #0f172a;
  --surface: #1e293b;
  --text-light: #f1f5f9;
  --success: #10b981;
  --error: #ef4444;
}
